<c:template
    xmlns:c="core"
    xmlns:w="widgets"
    xmlns:rb="rebootstrap"
    name="rebootstrap/ui/components/nav/Navbar"
    params="invokeBody,inverse,type">
    
    <div class="navbar{?type; navbar-$type}{?inverse; navbar-inverse}">
        <div class="navbar-inner">
            <c:invoke function="invokeBody()" c:if="invokeBody"/>
        </div>
    </div>

</c:template>