<c:template
    xmlns:c="core"
    xmlns:w="widgets"
    name="rebootstrap/ui/components/icons/Icon"
    params="className,rootAttrs">
    
    <i class="$className" c:attrs="rootAttrs"></i>

</c:template>